Python Lists:
 It is commonly used data type that represents an ordered,mutable(modifiable),iterable sequence of elememts.Lists are used to store collection of items and these can be of any data type,including numbers,strings or even other lists.
 Lists are defined using square brackets[] and elements which are separated by commas.

 Creation of Lists:

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
mixed_data = [10, "hello", 3.14, True]
print(mixed_data)

[10, 'hello', 3.14, True]

In [ ]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
print(fruits)

['apple', 'banana', 'orange', 'grape']

In [ ]:
mixed_data = [10, "hello", 3.14, True]
print(mixed_data)

[10, 'hello', 3.14, True]

Access List Elements:
 In python,lists are ordered and each item in a list is associated with a number.The number is known as list index.The index of the first element is 0,second element is 1 etc.Python allows negative indexing for its sequences.The index of -1 refers to the last item,-2 to the second last item and so on.

 Examples:

In [ ]:
languages=["python","swift","c++","c"]
#access item at index 0
print(languages[0])  #python
#access item at index 2
print(languages[2]) #c++

python
c++

In [ ]:
my_list=[10,20,30,40,50]
print(my_list[0])
print(my_list[2])

10
30

In [ ]:
my_list=['apple','banana','orange','grape']
print(my_list[-1])
print(my_list[-3])

grape
banana

Slicing of a list:
 In python, it is possible to access a portion of a list using the slicing operator.

 Examples:

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9]
sliced_list=my_list[2:5]
#Elements from index 2 to 4
print(sliced_list)

[3, 4, 5]

In [ ]:
my_list=[10,20,30,40,50]
sliced_list=my_list[-3:]
#Last three elements
print(sliced_list)

[30, 40, 50]

In [ ]:
my_list=[10,20,30,40,50]
reversed_list=my_list[::-1]
#Reverse the entire list
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
#list slicing in python
my_list=['E','t','e','r','n','a','l','t','e','k','y','e','f','y']
#items from index 2 to iindex 4
print(my_list[2:7]) #n-1
#items from index 5 to end
print(my_list[:10])
#items beginning to end
print(my_list[7:])

['e', 'r', 'n', 'a', 'l']
['E', 't', 'e', 'r', 'n', 'a', 'l', 't', 'e', 'k']
['t', 'e', 'k', 'y', 'e', 'f', 'y']

In [ ]:
my_list=['E','t','e','r','n','g','e','r','n','g','e','r','u','n','a','l','t','e','k','t']
print(my_list[-8:-2]) #n-1

['u', 'n', 'a', 'l', 't', 'e']

List Operations in python:There are mainly 2 operations in it.They are:concatenation and repetition

a)Concatenation:Concatenation in Python refers to combining two or more lists into a single list.

Examples:

In [ ]:
#concatenation
a=[1,2,3]
b=[1,4,5,6,9]
c=a+b
print(c)

[1, 2, 3, 1, 4, 5, 6, 9]

  Some of the common methods in concatenation are:

  1)Using the (+) operator:This is the most straightforward way to concatenate lists.

  Example:

In [ ]:
list1=[1, 2, 3]
list2=[4, 5, 6]
combined_list=list1+list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

2) Using the extend() Method:
The extend() method modifies the original list by appending elements from another list.

Example:

In [ ]:
list1 = [2,3,4]
list2 = [5,6,7]
list1.extend(list2)
print(list1)

[2, 3, 4, 5, 6, 7]

3) Using the * Operator (Unpacking):
This method unpacks the elements of multiple lists and creates a new list.

Example:

In [ ]:
list1=[6,7]
list2=[8,9]
combined_list=[*list1,*list2]
print(combined_list)

[6, 7, 8, 9]

4)Using List Comprehension:
While not strictly concatenation, list comprehension can be used to create a new list by combining elements from multiple lists based on conditions.

Example:

In [ ]:
list1=[1, 2, 3]
list2=['a','b','c']
combined_list = [x for pair in zip(list1, list2) for x in pair]
print(combined_list)

[1, 'a', 2, 'b', 3, 'c']

5)Using itertools.chain():
From the itertools module, chain() can be used to create an iterator that iterates over the elements of multiple iterables.

Example:

In [ ]:
from itertools import chain
list1=[22,23,24]
list2=[25,26,27]
combined_list=list(chain(list1, list2))
print(combined_list)

[22, 23, 24, 25, 26, 27]

b)Repetition:Python provides a straightforward way to repeat list elements using the multiplication operator (*).

Example:

In [ ]:
#Repetition
a=[3,6,9,12]
b=a*7
print(b)

[3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12]

Some of the common methods in Repetition are:

1)List Comprehension:

In [ ]:
my_list=[11,12,13]
repeated_list =[item for item in my_list for _ in range(13)]
print(repeated_list)

[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13]

2)itertools.repeat:

In [ ]:
import itertools
my_list = [21, 22, 23]
repeated_list=list(itertools.chain.from_iterable(itertools.repeat(item,22) for item in my_list))
print(repeated_list)

[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23]

Change list items:
To change the value of a specific item refer to the index number.

In [ ]:
colors=['Red','Black','Green']
print('Original List:',colors)
#changing the third item to 'Blue'
colors[2]='Blue'
print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Red', 'Black', 'Blue']

In [ ]:
List=["apple","banana","cherry"]
print(List)
List[0]="pine apple"
print(List)

['apple', 'banana', 'cherry']
['pine apple', 'banana', 'cherry']

In [ ]:
#change a range of item values
thislist=["apple","banana","cherry","orange","kiwi","mango"]
thislist[1:4]=["black currant","watermelon","gt","fdg"] #1,2,3
print(thislist)

['apple', 'black currant', 'watermelon', 'gt', 'fdg', 'kiwi', 'mango']

Python List Methods:
Python has many useful list methods that make it really easy to work with lists.They are as follows:

1)append():Adds an element to the end of the list.

  Example:

In [ ]:
numbers=[1,2,3]
numbers.append(5)
print(numbers)

[1, 2, 3, 5]

2)extend():Appends elements from another iterable to the end.

Example:

In [ ]:
numbers=[1,2,3]
more_numbers=[4,5,6,8,9,4]
numbers.extend(more_numbers)
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 9, 4]

3)insert():Inserts an element at a specified position.

Example:

In [ ]:
numbers=[1,2,3]
numbers.insert(2,9) #1 indicates index and 99 indicates value
#numbers.insert(2,9)
#numbers.insert(-1,9)
print(numbers)

[1, 2, 9, 3]

4)remove():Removes the first occurance of a value.

Example:

In [ ]:
numbers=[1,3,6,2,3,2,4,6]
numbers.remove(3)
print(numbers)

[1, 6, 2, 3, 2, 4, 6]

5)pop():Removes and returns an element at a specified index.

Example:

In [ ]:
numbers=[1,2,3,4,5,7,4,9]
popped_element=numbers.pop()
print(numbers)
print(popped_element)

[1, 2, 3, 4, 5, 7, 4]
9

6)Index():Returns the index of the first occurance of a value.

Example:

In [ ]:
numbers=[10,20,30,20,40,30,30,40,50]
index=numbers.index(50)
print(index)

8

7)Count():Returns the number of occurences of a vlue.

Example:

In [ ]:
numbers=[1,2,3,2,4,2,6,7,9,6,0,2,6,4]
count=numbers.count(2)
print(count)

4

8)Sort():Sorts the list in an ascending order.

Example:

In [ ]:
numbers=[1,2,3,2,4,2,6,7,9,6,0,2,6,4]
numbers.sort()
print(numbers)

[0, 1, 2, 2, 2, 2, 3, 4, 4, 6, 6, 6, 7, 9]

9)reverse():Reverses the order of elements in the list.

Example:

In [ ]:
numbers=[6,0,2,6,4,8,6,0]
numbers.reverse()
print(numbers)

[0, 6, 8, 4, 6, 2, 0, 6]

10)clear():The clear() method removes all items from the list.

Example:

In [ ]:
prime_numbers=[2,3,5,7,9,11]
#remove all elements
prime_numbers.clear()
#Updated prime_numbers List
print('List after clear():',prime_numbers)

List after clear(): []

11)copy():The copy() method returns a shallow copy of the list.

Example:

In [ ]:
#mixed list
prime_numbers=[2,3,5]
#copying a list
numbers=prime_numbers.copy()
print('Copied List:',numbers)

Copied List: [2, 3, 5]

12)min():
     calculates the min of all the elements of the list.

     Example:

In [2]:
my_list = [(3, 1), (2, 9), (1, 5)]
min_tuple = min(my_list)
print(min_tuple)

(1, 5)

13)max():calculates the max of all the elements of the list.

Example:

In [3]:
tuple_list = [(3, 1), (1, 5), (9, 2)]
max_tuple = max(tuple_list, key=lambda x: sum(x))
print(max_tuple)

(9, 2)

14)len():calculates the total length of the list.


Example:

In [4]:
my_tuple=(1, 2, 3, 4, 5)
length=len(my_tuple)
print(length)

5