Python Tuples:
*  A tuple is a data type that represents an ordered,immutable sequence of elements.
*  Tuples are similar to lists,but the key difference is that tuples cannot be modified once they are operated.
*  They are defined using parentheses() and elements are separated by commas.

Features of Tuples:

1. Tuples are immutable datatype,meaning their elements cannot be changed after they are generated.
2. Each element in a tuple has a specific order that will never because tuples are ordered sequences.

Creating a Tuple:

In [ ]:
empty_tuple=()
print(empty_tuple)

()

In [ ]:
fruits=("apple", "banana", "orange")
print(fruits)
print(type(fruits))

('apple', 'banana', 'orange')
<class 'tuple'>

In [ ]:
mixed_tuple=(1,"apple",3.14,True)
mixed_tuple

(1, 'apple', 3.14, True)

In [ ]:
single_element_tuple=(42,)
print(type(single_element_tuple))

<class 'tuple'>

In [ ]:
fruits=("apple","banana","orange")
print(fruits)

('apple', 'banana', 'orange')

Accessing of Tuples:
* Tuples support indexing and slicing,just like lists.

In [ ]:
fruits=("apple","banana","orange")
print(fruits[0]) #index
print(fruits[0:7]) #slicing

apple
('apple', 'banana', 'orange')

In [ ]:
my_tuple=("apple","banana","cherry")
print(my_tuple[0])

apple

In [ ]:
my_tuple=("kiwi","grape","mango")
print(my_tuple[-1])

mango

In [ ]:
my_tuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(my_tuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
my_tuple=("apple","banana","cherry")
for fruit in my_tuple:
 print(fruit)

apple
banana
cherry

Immutability:
 Once a tuple is created, we cannot change its elements.

 Example:

In [ ]:
fruits=("apple","banana","orange")
#this will raise an error
fruits[2]="Water"
#print(fruits)
fruits

TypeError: 'tuple' object does not support item assignment

Tuple Operations in python:
* There are mainly 9 operations of tuples in python.They are:

1)Concatenation:combining two or more sequences into a single one. With tuples, this is done using the + operator.

Example:

In [ ]:
tuple1=(1,2,3)
tuple2=('a','b','c')
result=tuple1+tuple2
print(result)

(1, 2, 3, 'a', 'b', 'c')

2)Repetition:We can create a tuple of multiple same elements from a single element in that tuple.

Example:

In [ ]:
tuple1=(1,2,3)
result=tuple1*20
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

3)Nesting:A nested tuple in Python means a tuple inside another tuple.

Example:

In [ ]:
#Code for creating nested tuples
tuple1=(0, 1, 2, 3)
tuple2=('python','Datascience')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Datascience'))

4)Slicing:It means dividing a tuple into small tuples using the indexing method.

Example:

In [ ]:
#code to test slicing
tuple1=(0 ,1, 2, 3)
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

5)Delete:we are deleting a tuple using ‘del’ keyword. The output will be in the form of error because after deleting the tuple, it will give a NameError.

Example:

In [ ]:
#Code for deleting a tuple
tuple3=(0,1)
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

6)Finding the lenght of tuple():To find the length of a tuple, we can use Python’s len() function and pass the tuple as the parameter.

Example:

In [ ]:
#Code for printing the length of a tuple
tuple2=('python','css')
print(len(tuple2))

2

7)Multiple Data Types With Tuple:
Tuples in Python are heterogeneous in nature. This means tuples support elements with multiple datatypes.

Example:

In [ ]:
#tuple with different datatypes
tuple_obj=("immutable",True,23)
print(tuple_obj)

('immutable', True, 23)

8)Converting a List to a Tuple:
We can convert a list in Python to a tuple by using the tuple() constructor and passing the list as its parameters.

Example:

In [ ]:
#Code for converting a list and a string into a tuple
list1=[0, 1, 2]
print(tuple(list1))
#string 'python'
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

9)Tuples in a Loop:
We can also create a tuple with a single element in it using loops.

Example:

In [ ]:
#python code for creating tuples in a loop
tup=('HTML',)
#Number of time loop runs
n=5
for i in range(int(n)):
	tup = (tup,)
	print(tup)

(('HTML',),)
((('HTML',),),)
(((('HTML',),),),)
((((('HTML',),),),),)
(((((('HTML',),),),),),)

Tuple Methods:
*  Tuples have limited methods when compared to lists due to their immutability.


1)Count():Returns the number of occurrences of a specified value.

Example:

In [ ]:
numbers=(1,2,2,3,4,2,4,2,9,4,8,2,9,7,6,7,2)
count_of_2=numbers.count(4)
print(count_of_2)

3

2)Index():Reeturns the index of the first occurence of a specified value.

Example:

In [ ]:
numbers=(1,2,5,3,4,5,7)
index_of_3=numbers.index(7)
print(index_of_3)

6