#Python Operators:
 Python Operators are used to perfom operations on variables and values.


Examples:

In [ ]:
print(5+5)

10

In [ ]:
print(15+25)

40

In [ ]:
print(15+16) #31

31

In [ ]:
print(45+35) #80

80

In [ ]:
n=5+5
print(n)

10

Types of Operators:
 There are mainly 7 types of operators in python. They are:
 1)Arithmetic Operators
 2)Assignment Operators
 3)Comparision Operators
 4)Logical Operators
 5)Identity Operators
 6)Membership Operators
 7)Bitwise Operators

1)Arithmetic Operators:Arithmetic operators are used with numeric values to perform common mathematical operations like addition,subtraction,multiplication,division etc.

Examples:

In [ ]:
x=10
y=5
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

15
5
50
2.0
2
0
100000

In [ ]:
x=15
y=3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

18
12
45
5.0
5
0
3375

In [ ]:
x=200
y=25
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

225
175
5000
8.0
8
0
3355443200000000000000000000000000000000000000000000000000

In [ ]:
a = 16
b = 4
#addition
print('Sum:',a+b)
#subtraction
print('Subtraction:',a-b)
#multiplication
print('Multiplication:',a*b)
#division
print('Division:',a/b)
#floor division
print('Floor Division:',a//b)
#modulo
print('Modulo:',a%b)
# a to the power b
print('Power:',a**b)

Sum: 20
Subtraction: 12
Multiplication: 64
Division: 4.0
Floor Division: 4
Modulo: 0
Power: 65536

In [ ]:
a = 45
b = 15
#addition
print('Sum:',a + b)
#subtraction
print('Subtraction:',a - b)
#multiplication
print('Multiplication:',a*b)
#division
print('Division: ',a/b)
#floor division
print('Floor Division:',a//b)
#modulo
print('Modulo:',a%b)
# a to the power b
print ('Power:',a**b)

Sum: 60
Subtraction: 30
Multiplication: 675
Division:  3.0
Floor Division: 3
Modulo: 0
Power: 6283298708943145751953125

a)Addition Operator(+):In Python, + is the addition operator.It is used to add 2 values.

In [ ]:
a=10
b=30
#addition
c=a+b
print(c)

40

In [ ]:
val1=28
val2=35
#using the addition operator
res=val1+val2
print(res)

63

In [ ]:
x=50
y=63
print(x+y)

113

In [ ]:
x,y=98,63
print(x+y)

161

In [ ]:
a=89
b=65
print(a+b) #154

154

b)Subtraction Operator(-):It is used to subtract the second value from the first value.

In [ ]:
a=60
b=30
#Subtraction
c=a-b
print(c)

30

In [ ]:
x=98
y=76
print(x-y)

22

In [ ]:
val1=88
val2=75
#using the Subtraction operator
res=val1-val2
print(res)

13

In [ ]:
x,y=144,56
print(x-y)

88

In [ ]:
num1=10
num2=5
result=num1-num2
print("Subtraction using the Minus Operator:", result)

Subtraction using the Minus Operator: 5

c)Multiplication Operator(*):It is used to find the product of 2 values.

In [ ]:
a=23
b=46
#Multiplication
c=a*b
print(c)

1058

In [ ]:
x,y=57,57
print(x*y)

3249

In [ ]:
#Multiplying integers
num1=51
num2=30
result=num1*num2
print(result)

1530

In [ ]:
#Multiplying floating-point numbers
num3=2.5
num4=1.2
result=num3*num4
print(result)

3.0

In [ ]:
val1=48
val2=97
#using the multiplication operator
res=val1*val2
print(res)

4656

d)Division Operator(/):It is used to find the quotient when the first operand is divided by the second.

In [ ]:
a=34
b=17
#division
c=a/b #returns the quotient
print(c)

2.0

In [ ]:
x=48
print(x/3)

16.0

In [ ]:
val1=30
val2=25
#using the division operator
res=val1/val2
print(res)

1.2

In [ ]:
a=108
b=36
result=a/b
print(result)

3.0

In [ ]:
num1=2.5
num2=1.2
print(num1/num2)

2.0833333333333335

e)Float division(//):It is used to find the floor of the quotient when the first operand is divided by the second.

In [ ]:
a=45
b=16
#float division
c=a//b
print(c)

2

In [ ]:
print(51//5)
print(119//2)
print(-101//2)
print(201//2)

10
59
-51
100

In [ ]:
#Positive numbers
num1=17
num2=5
result=num1//num2
print(result)

3

In [ ]:
#Negative numbers
val1=-87
val2=7
result=val1//val2
print(result)

-13

In [ ]:
#Floating-point numbers
A=27.5
B=3.2
result=A//B
print(result)

8.0

f)Exponentiation:It is used to raise the first operand to the power of the second.

In [ ]:
base=2
exponent=3
result=base**exponent
print(result)

8

In [ ]:
#Exponentiation
x=89
y=5
z=x**y
print(z)

5584059449

In [ ]:
x=24;y=13
print(x**y)

876488338465357824

In [ ]:
print(11**5)

161051

In [ ]:
num1=12
num2=6
print(num1**num2)

2985984

g)Modulus:It is used to find the remainder when the first operand is divided by the second.

In [ ]:
number=17
divisor=5
remainder=number%divisor
print(remainder)

2

In [ ]:
num1=30
num2=29
#using the modulus operator
res=num1%num2
print(res)

1

In [ ]:
x=114;y=57
print(x%y)

0

In [ ]:
print(5%2)

1

In [ ]:
x=56
y=6
print(x%y)

2

2)Assignment Operators(=):
 Assignment operators are used to assign values to variables.

Examples:

In [ ]:
#Assigning values using
#Assignment Operator
a=53
b=85
c=a+b
#Output
print(c)

138

In [ ]:
x=50
y=36
#Addition assignment
x+=y
#Equivalent to x=x+y
print(x)

#Subtraction assignment
x-=y
#Equivalent to x=x-y
print(x)

#Multiplication assignment
x*=y
#Equivalent to x=x*y
print(x)

#Division assignment
x/=y
#Equivalent to x=x/y
print(x)

#Floor division assignment
x//=y
#Equivalent to x=x//y
print(x)

#Modulus assignment
x%=y
#Equivalent to x=x% y
print(x)

#Exponentiation assignment
x**=y
#Equivalent to x=x**y
print(x)

86
50
1800
50.0
1.0
1.0
1.0

In [ ]:
x = 105
print("x=",x)

x= 105

In [ ]:
x=25.56
print(x)

25.56

In [ ]:
#Assigning multiple variables in one line
a,b,c=19,22,33
print(a)
print(b)
print(c)

19
22
33

a)Addition Assignment Operator(+=):It is used to add the right-hand side operand with the left-hand side operand and then assigning the result to the left operand.

Examples:

In [ ]:
x=525
x+=35
#Equivalent to x=x+35
print(x)

560

In [ ]:
x=58
x+=93
print(x)

151

In [ ]:
#assign 10 to a
a=104
#assign 5 to b
b=59
#assign the sum of a and b to a
a+=b #a=a+b
print(a)

163

In [ ]:
count=100
count+=110
#Equivalent to count=count+1
print(count)

210

In [ ]:
balance=108
deposit=150
balance+=deposit
#Equivalent to balance=balance+deposit
print(balance)

258

b)Subtraction Assignment Operator(-=):It is used to subtract the right-hand side operand from the left-hand side operand and then assigning the result to the left-hand side operand.

Examples:

In [ ]:
x=105
y=38
x-=y
#Equivalent to x=x-y
print(x)

67

In [ ]:
#assign 89 to a
a=89
#assign 78 to b
b=78
#assign the sum of a and b to a
a-=b #a=a-b
print(a)

11

In [ ]:
x=67
y=7
x-=y
print(x)

60

In [ ]:
price=100
discount=20
price-=discount
print(price)

80

In [ ]:
a=39
b=15
#a=a-b
a-=b
#Output
print(a)

24

C)Multiplication Assignment Operator(*=):It is used to multiply the right-hand side operand with the left-hand side operand and then assigning the result to the left-hand side operand.

Examples:

In [ ]:
x=57
x*=63
print(x)

3591

In [ ]:
A=89
A*=27
#Equivalent to A=A*2
print(A)

2403

In [ ]:
length=5.8
width =9.3
area=length
area*=width
#Calculate area by multiplying length with width
print(area)

53.940000000000005

In [ ]:
a=95
b=15
#a=a*b
a*=b
#Output
print(a)

1425

In [ ]:
number=10
number*=20
#Double the value of number
print(number)

200

d)Division Assignment Operator(/=):It is used to divide the left-hand side operand with the right-hand side operand and then assigning the result to the left operand.

Examples:

In [ ]:
x=100
x/=4
#Equivalent to x=x/4
print(x)

25.0

In [ ]:
y=15.5
y/=2
#Equivalent to y=y/2
print(y)

7.75

In [ ]:
num=1000
divisor=20
num/=divisor
#Equivalent to num=num/divisor
print(num)

50.0

In [ ]:
x=50
x/=35
print(x)

1.4285714285714286

In [ ]:
z=-48
z/=15
#Equivalent to z=z/5
print(z)

-3.2

E)Remainder Assignment Operator(%=):It is used to take the modulus, that is, it first divides the operands and then takes the remainder and assigns it to the left operand.

Examples:

In [ ]:
number=17
divisor=5
number %= divisor
#Equivalent to number=number % divisor
print(number)

2

In [ ]:
x=10
x %= 3  #Equivalent to x = x % 3
print(x)

1

In [ ]:
a=3
b=5
#a = a % b
a %= b
# Output
print(a)

3

In [ ]:
x = 60
x %= 3
print(x)

0

In [ ]:
b = 25.55
b %= 4.22
#Equivalent to b = b % 4.2
print(b)

0.2300000000000022

f)Exponentiation Assignment Operator(**=):It is used to calculate the exponent(raise power) value using operands and then assigning the result to the left operand.

Examples:

In [ ]:
a = 75
b = 8
#a = a ** b
a **= b
#Output
print(a)

1001129150390625

In [ ]:
x = 50
x **= 3
print(x)

125000

In [ ]:
base = 20
exponent = 6
base **= exponent
print(base)

64000000

In [ ]:
z = 10
z **=-1  #Equivalent to z = z **-1
print(z)

0.1

In [ ]:
#assign 98 to x
x=18
#assign 88 to y
y=8
#assign the sum of x and y to x
x**=y #x=x**y
print(x)

11019960576

3)Comparision Operators:They are used to compare the values of two operands and returns a boolean result. i.e.,True or False.

Examples:

In [ ]:
#Equal to (==)
x=25
y=100
print(x==y)

False

In [ ]:
#Not equal to (!=)
a="hello"
b="world"
print(a!=b)

True

In [ ]:
#Greater than(>)
num1=56
num2=84
print(num1>num2)

False

In [ ]:
#Less than(<)
temp1=25
temp2=30
print(temp1<temp2)

True

In [ ]:
print()
a=76
b=28
#equal to operator
print("a==b",a==b)
#not equal to operator
print("a!=b",a!=b)
#greater than operator
print("a>b",a>b)
#less than opeartor
print("a<b",a<b)
#greater than or equal to operator
print("a>=b",a>=b)
#less than or equal to operator
print("a<=b",a<=b)

a==b False
a!=b True
a>b True
a<b False
a>=b True
a<=b False

a)Python Equality Operators(==):
  The Equal to Operator is also known as the Equality Operator in Python.
  It is used to check for equality.
  It returns True if both the operands are equal. i.e.,if both the left and the right operands are equal to each other. Otherwise, it returns False.

Examples:

In [ ]:
x=78
y=78
print(x==y)

True

In [ ]:
flag1=True
flag2=False
print(flag1==flag2)

False

In [ ]:
#Check if two numbers are equal
a=20
b=20
result=(a==b)
print(result)

True

In [ ]:
x=5
y=3
print(x==y)
#returns False because 5 is not equal to 3

False

In [ ]:
x=34;y=34
print(x==y)
#returns true because 34 is equal to 34

True

b)Python Inequality Operators(!=):The Not Equal To Operator returns True if both the operands are not equal and returns False if both the operands are equal.

Examples:

In [ ]:
x=54
y=27
print(x!=y)

True

In [ ]:
#Check if two numbers are not equal
x=30
y=25
result=(x!=y)
print(result)

True

In [ ]:
x=65
y=35
print(x!=y)
#returns true because 65 is not equal to 35

True

In [ ]:
#Not equal to (!=)
a="hey"
b="hey"
print(a!=b)

False

In [ ]:
a=9
b=5
c=9
#Output
print(a!=b)
print(a!=c)

True
False

c)Python Greater Than Operator(>):It returns True if the left operand is greater than the right operand otherwise returns False.

Examples:

In [ ]:
x=36
y=35
print(x>y)
#returns True because 36 is greater than 35

True

In [ ]:
#Check if one number is greater than the other
x=45
y=110
result=(x>y)
print(result)

False

In [ ]:
c=204
d=188
print(c>d)

True

In [ ]:
a=79
b=58
# Output
print(a>b)
print(b>a)

True
False

In [ ]:
num1=25.87
num2=20.89
result=num1>num2
print(result)

True

Python Less Than Operator(<):It returns True if the left operand is less than the right operand otherwise it returns False.

Examples:

In [ ]:
x=86
y=68
print(x<y)
#returns False because 86 is not less than 68

False

In [ ]:
a=96
b=85
#Output
print(a<b)
print(b<a)

False
True

In [ ]:
x=98
y=100
print(x<y)

True

In [ ]:
#Check if one number is less than the other
num1=55
num2=11
result=(num1<num2)
print(result)

False

In [ ]:
#Compare two floating-point numbers
x=2.72
y=3.75
result=x<y
print(result)

True

e)Python Greater than or equal to Operators(>=):It returns True if the left operand is greater than or equal to the right operand, else it will return False.

Examples:

In [ ]:
#Compare two integers
a=68
b=65
result= a>=b
print(result)

True

In [ ]:
#Compare two floating-point numbers
x=4.5
y=4.5
result= x>=y
print(result)

True

In [ ]:
a=90
b=50
c=30
#Output
print(a>=b)
print(a>=c)
print(b>=a)

True
True
False

In [ ]:
x=15
y=36
print(x>=y)
#returns false because fifteen is lesser than 36

False

In [ ]:
a=79
b=79
print(a>=b)

True

f)Python less than or equal to operators(<=):It returns True if the left operand is less than or equal to the right operand.

Examples:

In [ ]:
c=-25
d=-20
print(c<=d)

True

In [ ]:
#Compare two integers
x=27
y=97
result=x<=y
print(result)

True

In [ ]:
a=9
b=5
c=9
#Output
print(a<=b)
print(a<=c)
print(b<=a)

False
True
True

In [ ]:
x=50
y=30
print(x<=y)
#returns False because 50 is neither less than or equal to 30

False

In [ ]:
a=46
b=56
#less than or equal to operator
print('a<=b',a<=b)

a<=b True

4)Logical Opearators:Logical operators are used to check whether an expression is True or False. They are used in decision-making.

Examples:

In [ ]:
a=52
b=6
print((a>2) and (b>=6))    # True

True

In [ ]:
temp=25
is_sunny=True
print(temp>20 and is_sunny)

True

In [ ]:
#Check if both conditions are True
a=52
b=10
result=(a<10) and (b>5)
print(result)

False

In [ ]:
#Check if at least one condition is True
x=14
y=15
result=(x>10) or (y>10)
print(result)

True

In [ ]:
x=True
y=False
print(x and y)

False

a)Logical AND Operator:It returns True if both the operands are True else it returns False.

Examples:

In [ ]:
x=65
y=75
result=x>75 and y<65
print(result)

False

In [ ]:
#Check if both conditions are True
a=55
b=110
result=(a<b) and (b>a)
print(result)

True

In [ ]:
x=5
print(x>3 and x<10)
#returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
#logical AND
print(True and True)   # True
print(True and False)  # False

True
False

In [ ]:
c=2
d=12
result=c>5 and d<10
print(result)

False

b)Logical OR Operator:It returns True if either of the operands is True.

Examples:

In [ ]:
#Using OR operator
a=34
b=17
print(a>17 or b<34)

True

In [ ]:
num1=10
num2=50
print(num1>8 or num2<10)

True

In [ ]:
c=False
d=False
print(c or d)

False

In [ ]:
#logical OR
print(True or False) # True

True

In [ ]:
#Check if at least one condition is True
x=4
y=15
result=(x>10) or (y>10)
print(result)

True

c)Logical NOT Operator:It works with a single boolean value. If the boolean value is True it returns False and vice-versa.

Examples:

In [ ]:
#Using NOT operator
is_raining= True
print(not is_raining)

False

In [ ]:
a=51
b=10
print(not(a>b))

False

In [ ]:
#Negate the result of a condition
z=20
result=not(z<15)
print(result)

True

In [ ]:
x=5
print(not(x>3 and x<10))
#returns False because not is used to reverse the result

False

In [ ]:
c=True
d=False
print(not(c and d))

True

5)Identity Operators:Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

Examples:

In [ ]:
x=110
y=110
print(x is y)

True

In [ ]:
#Check if a variable is not None
x=None
y=5
result=x is not y
print(result)

True

In [ ]:
#Check if a variable is True
flag=True
result=flag is True
print(result)

True

In [ ]:
x="hello"
y="hello"
print(x is not y)

False

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1)  #prints False
print(x2 is y2)  #prints True
print(x3 is y3)  #prints False

False
True
False

a)is operator:It evaluates to True if the variables on either side of the operator point to the same object in the memory and false otherwise.

Examples:

In [ ]:
x=None
y=None
print(x is y)

True

In [ ]:
#Check if two integer variables point to the same object
a=345
b=445
result=a is b
print(result)

False

In [ ]:
#Check if a variable is None
z=None
result=z is None
print(result)

True

In [ ]:
A='Hello'
B='Hello'
C=[1,2,3]
D=[1,2,3]
print(A is B) # prints True
print(C is D) # prints False

True
False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)

True
False
True

b)is not operator:It evaluates True if both variables on the either side of the operator are not the same object in the memory location otherwise it evaluates False.

Examples:

In [ ]:
x=100
y=200
print(x is not y)

True

In [ ]:
#Check if two integer variables do not point to the same object
a=200
b=2000
result=a is not b
print(result)

True

In [ ]:
x1=58
y1=58
print(x1 is not y1) #prints False

False

In [ ]:
list3=[4, 5, 6]
list4=list3
print(list3 is not list4)

False

In [ ]:
x1=50;y1=56
x2='hai';y2='hai'
print(x1 is y1)
print(x2 is y2)

False
True

6)Membership Operators:Python membership operators test for the membership of an object in a sequence, such as strings, lists, or tuples.

Examples:

In [ ]:
message='Hello world'
dict1={1:'a', 2:'b'}
#check if 'H' is present in message string
print('H' in message)  #prints True

#check if 'hello' is present in message string
print('hello' not in message) # prints True

#check if '1' key is present in dict1
print(1 in dict1) # prints True

#check if 'a' key is present in dict1
print('a' in dict1) #prints False

True
True
True
False

In [ ]:
#Check if an element is in a list
fruits=["apple", "banana", "cherry"]
result="banana" in fruits
print(result)

True

In [ ]:
#Check if an element is not in a list
numbers=[1, 2, 3, 4, 5]
result=6 not in numbers
print(result)

True

In [ ]:
my_tuple=(6, 7, 8, 9)
y=7
print(y in my_tuple)

True

In [ ]:
my_dict={"name": "Alice", "age": 30}
key ="age"
print(key in my_dict)

True

a)in Operator:The in operator is used to check if a character/substring/element exists in a sequence or not. Evaluate to True if it finds the specified element in a sequence otherwise False.

Examples:

In [ ]:
my_string="python programming"
substring="python"
print(substring in my_string)

True

In [ ]:
#Check if an element is in a tuple
numbers=(1, 2, 3, 4, 5)
result=6 in numbers
print(result)

False

In [ ]:
#Check if an element is in a set
colors={'red', 'green', 'blue'}
result='green' in colors
print(result)

True

In [ ]:
my_string="hello world"
#Checking for substring
print("hello" in my_string)

True

In [ ]:
my_tuple=(10,20,30)
#Checking for element
print((50) in my_tuple)

False

b)not in:The not in Python operator evaluates to true if it does not find the variable in the specified sequence and false otherwise.

Examples:

In [ ]:
x=["apple","banana"]
print("pineapple" not in x)

True

In [ ]:
num1 = 5
num2 = 5
lst1 = [1, 2, 3]
lst2 = [1, 2, 3]
print(num1 is not num2)
print(lst1 is not lst2)

False
True

In [ ]:
#Checking for a number in a list
numbers = [1, 2, 3, 4, 5]
print(7 not in numbers)

True

In [ ]:
#Check if a substring is not in a string
sentence="Hello,world!"
result="world" not in sentence
print(result)

False

In [ ]:
#Check if an element is not in a set
numbers_set={10, 20, 30}
result=25 not in numbers_set
print(result)

True

7)Bitwise Operators:
  Python bitwise operators are used to perform bitwise calculations on integers.
  The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits, hence the name bitwise operators.
  The result is then returned in decimal format.

  Examples:

In [ ]:
x=1
y=0
result=x & y #Bitwise AND
print(bool(result))

False

a)Bitwise AND(&):Python Bitwise AND (&) operator takes two equal-length bit patterns as parameters. The two-bit integers are compared. If the bits in the compared positions of the bit patterns are 1, then the resulting bit is 1. If not, it is 0.

In [ ]:
a=10
b=4
#Print bitwise AND operation
print("a&b=",a & b)

a&b= 0

b)Bitwise OR(/):Python Bitwise OR (|) Operator takes two equivalent length bit designs as boundaries; if the two bits in the looked-at position are 0, the next bit is zero. If not, it is 1.

Examples:

In [ ]:
x=67
y=32
#Print bitwise OR operation
print("a|b=",a|b)

a|b= 14

c)Bitwise XOR(^): Python Bitwise XOR (^) Operator also known as the exclusive OR operator, is used to perform the XOR operation on two operands. XOR stands for exclusive or, and it returns true if and only if exactly one of the operands is true

Examples:

In [ ]:
p=6 # 0110 in binary
q=3 # 0011 in binary
result=(p^q)
print(result)

5

d)Bitwise NOT(~): This Operator works with a single value and returns its ones complement. This means it toggles all bits in the value, transforming 0 bits to 1 and 1 bits to 0, resulting in the ones complement of the binary number.

Examples:

In [ ]:
a=110
b=40
#Print bitwise NOT operation
print("~a =", ~a)

~a = -111

e)Bitwise Zero fill left shift(<<):Shifts the bits of the number to the left and fills 0 on voids right as a result. Similar effect as of multiplying the number with some power of two.

Examples:

In [ ]:
a=5
b=-10
#print bitwise left shift operator
print("a<<1=",a<<1)
print("b<<1=",b<<1)

a<<1= 10
b<<1= -20

f)Bitwise signed right shift(>>):Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.

Examples:

In [ ]:
a=101
b=-101
#print bitwise right shift operator
print("a>>1=",a >> 1)
print("b>>1=",b >> 1)

a>>1= 50
b>>1= -51

Precedence:Operator precedence describes the order in which operations are performed

      Operator                                     Description

         ()                        	   Parentheses

         **	                           Exponentiation

     +x  -x  ~x	                    Unary plus, unary minus, and bitwise NOT

     *  /  //  %	                   Multiplication, division, floor division, and modulus

        +  -	                           Addition and subtraction

       <<  >>                            Bitwise left and right shifts

           &                               Bitwise AND

           ^	                           Bitwise XOR

           |	                           Bitwise OR

     ==  !=  >  >=  <  <=            Comparisons, identity, and membership operators
    is  is not  in  not in

           not	                           Logical NOT

           and	                            AND
            or                                OR