**Python Strings**
* In python,a string is a sequence of characters.
* We use single quotes or double quotes to represent a string in python.
* Strings are one of the most commonly used data types and they are used to represent text.
* However, We can perform various operations and use methods to manipulate and work with strings
* A String is a data structure in Python Programming.Also, an immutable data type, meaning that once you have created a string, you cannot change it.
* Python Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

Examples:

In [ ]:
string1 = "Hello, World!"
string2 = 'Python Programming'
string3 = """This is a multi-line string in Python."""
print(string3)
print(string1)
print(string2)

This is a multi-line string in Python.
Hello, World!
Python Programming

In [ ]:
print(type(string1))
print(type(string2))
print(type(string3))

<class 'str'>
<class 'str'>
<class 'str'>

**String Operations**:

Python allows various operations on strings that make it easy to manipulate and work with textual data. Here are some common string operations:

**1**) **Concatenation:**
combining two or more strings

**Example**:

In [ ]:
str1 = "Hello"
str2 = "World!"
result = str1 + " " + str2
print(result)

Hello World!

**2) Repetition:** Repeating a string multiple times.

**Example**:

In [ ]:
str1=" Data Science "
result=str1 * 30
print(result)

 Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science  Data Science

**3) Indexing:** Accessing individual characters in a string.

**Example:**

In [ ]:
my_string="Python is so fun"
print(my_string[10])
print(my_string[-5])

s
o

**4)Slicing:** Extracting a substring from a string.

**Example:**

In [ ]:
my_string="Hello,World!" #0123456789101112
substring=my_string[3:12]
print(substring)

lo,World!

**Python-Format Strings:** String formatting allows you to create dynamic strings by combining variables and values.

**1)Old style formatting(%operator):** It uses the 1% operator and placeholders within a string.

**Example:**

In [ ]:
name="Revanth Reddy"
age=21
weight=72
print("My name is %s and I am %d years old." % (name, age))
height=6.0
print("My height is %.1f feet." % height)

My name is Revanth Reddy and I am 21 years old.
My height is 6.0 feet.

**2)Format Method:** It uses the format() method with placeholders.

**Example:**

In [ ]:
name = "Revanth"
age = 21
print("My name is {} and I am {} years old.".format(name, age))

print("Hello, {0}. You are {1} years old.".format(name, age))
print("Hello, {name}. You are {age} years old.".format(name="kiran", age=23))

My name is Revanth and I am 21 years old.
Hello, Revanth. You are 21 years old.
Hello, kiran. You are 23 years old.

**3)String Interpolation:** It uses f-strings where expressions inside curly braces{} are eevaluated and replaced.

**Example:**

In [ ]:
name = "Revanth"
age = 21
city = "Hyderabad"
profession = "Data Analyst"
company = "Deloitte"

print(f"My name is {name}, I am {age} years old, residing in {city}. Iam working as a {profession} at {company}.")

print(f"Next year, I will be {age + 1} years old, still living in {city} and continuing my {profession} in {company}.")

print(f"My name is {name}, I am {age} years old, living in {city} and working as {profession}.")

print(f"Hello, my name is {name}. I am a {age}-year-old {profession} residing in {city}.")

My name is Revanth, I am 21 years old, residing in Hyderabad. Iam working as a Data Analyst at Deloitte.
Next year, I will be 22 years old, still living in Hyderabad and continuing my Data Analyst in Deloitte.
My name is Revanth, I am 21 years old, living in Hyderabad and working as Data Analyst.
Hello, my name is Revanth. I am a 21-year-old Data Analyst residing in Hyderabad.

**4)Using str.format() with Format Specification:** We can control formatting, such as padding, alignment, and number precision using format specifiers.

**Example:**

In [ ]:
print("{:<10}".format("Left"))   # Left-align (default): "Left      "
print("{:>10}".format("Right"))  # Right-align: "     Right"
print("{:^10}".format("Center")) # Center-align: " Center  "

# Number formatting
number = 256.144288
print("{:.2f}".format(number))

Left
     Right
  Center
256.14

**5)Advanced Formatting with f-strings:** You can also use format specifiers inside f-strings.

**Example:**

In [ ]:
num = 244.765432
print(f"{num:.2f}")
# Padding and alignment with f-strings
print(f"{'Python':<10}")
print(f"{'Python':>10}")
print(f"{'Python':^10}")

244.77
Python
    Python
  Python

**String Methods:** Python offers several built-in string methods that allow you to perform various operations on strings. Here’s a summary of some commonly used string methods:

**1)len():** Returns the lenght of the string

**Example:**

In [ ]:
my_string="python is so fun"
lenght=len(my_string)
print(lenght)

16

**2)lower()/upper():** Converts the string to lowercase/uppercase.

**Example:**

In [ ]:
text = "Hello, World!"
print(text.lower())

hello, world!

In [ ]:
text = "Hello, World!"
print(text.upper())

HELLO, WORLD!

**3)strip():** Removes leading and trailing whitespaces.

**Example:**

In [ ]:
my_string=" PYTHON "
stripped_string=my_string.strip()
print(stripped_string)

PYTHON

In [ ]:
text = "***@Welcome to Future@***"
print(text.strip('*@'))

Welcome to Future

**4)Replace:** Replaces a substring with another substring.

**Example:**

In [ ]:
text = "Hello, world!"
new_text = text.replace("world", "Python")
print(new_text)

Hello, Python!

**5)Split():** Splits the string into a list of sub strings.

**Example:**

In [ ]:
my_string="Python is fun and python is good to learn"
words=my_string.split()
print(words)

['Python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn']

**6)join():** Joins a list of strings into a single string.

**Example:**

In [ ]:
words = ['Python', 'is', 'a', 'programming', 'language', 'and', 'python', 'is', 'easy', 'to', 'learn']
joined_string = ' '.join(words)
print(joined_string)

Python is a programming language and python is easy to learn

**7)Capitalize:** The capitalize() method returns a string where the first character is upper case, and the rest is lower case.

**Example:**

In [ ]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

**8)casefold:** The casefold() method returns a string where all the characters are lower case.

**Example:**

In [ ]:
txt = "Hello, This  is Revanth!"
x = txt.casefold()
print(x)

hello, this  is revanth!

**9)center():** The center() method will center align the string, using a specified character (space is default) as the fill character.

**Example:**

In [ ]:
word = "Nikhil"
x = word.center(20)
print(x)

       Nikhil

**10)count:** The count() method returns the number of times a specified value appears in the string.

**Example:**

In [ ]:
word = "Hola amigos, let's go to the beach amigos."
x = word.count("amigos")
print(x)

2

**11)encode():**
* In Python, the encode() method is used to encode a string into bytes. It’s often used when you need to convert a string into a specific byte encoding, like UTF-8 or ASCII.
* The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

**Example:**

In [ ]:
text = "Hello, world!"
encoded_text = text.encode("utf-8")
print(encoded_text)

b'Hello, world!'

**12)endswith():**
* The endswith() method returns True if the string ends with the specified value, otherwise False.
* The endswith() method in Python is a built-in string method used to check if a string ends with a specified suffix. It returns a boolean value: True if the string ends with the given suffix, otherwise False.

**Example:**

In [ ]:
txt = "Hello, welcome to TEKS."
x = txt.endswith("TEKS.")
print(x)

True

In [ ]:
txt = "Hello, welcome to python."
x = txt.endswith("python.", 5, 11)
print(x)

False

**13)expandtabs:**

* The expandtabs() method sets the tab size to the specified number of whitespaces.
* The expandtabs() method in Python is used to replace all occurrences of tab characters (\t) in a string with a specified number of spaces. It returns a new string with the expanded tabs.

**Example:**

In [ ]:
text = "This\tis\ta\tstring\twith\ttabs"
expanded_text = text.expandtabs()
print(expanded_text)
expanded_text = text.expandtabs(4)
print(expanded_text)

This    is      a       string  with    tabs
This    is  a   string  with    tabs

**14)find():**

* The find() method finds the first occurrence of the specified value.

* The find() method returns -1 if the value is not found.

* The find() method is almost the same as the index() method, the only  
 difference is that the index() method raises an exception if the value is not found.

* The find() method in Python is used to locate the index of the first  
 occurrence of a specified substring within a given string. If the substring is
 not found, it returns -1

 **Example:**

In [ ]:
text = "Hello, world!"
index = text.find("world")
print(index)
index = text.find("hello")
print(index)

7
-1

15)**format():**

* The format() method formats the specified value(s) and insert them inside the string's placeholder.

* The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.
* The format() method returns the formatted string.

**Example:**

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "Revanth", age = 21)
txt2 = "My name is {0}, I'm {1}".format("Kiran",23)
txt3 = "My name is {}, I'm {}".format("Sai",22)
print(txt1)
print(txt2)
print(txt3)

My name is Revanth, I'm 21
My name is Kiran, I'm 23
My name is Sai, I'm 22

**16) format_map:**
* The format_map() method is used for string formatting in Python. It takes a dictionary as input and replaces placeholders within the string with corresponding values from the dictionary.

**Example:**

In [ ]:
person = {'name': 'Revanth', 'age': 21}
text = "Hello, {name}! You are {age} years old.".format_map(person)
print(text)

Hello, Revanth! You are 21 years old.

**17)isalnum():**
* The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
* Example of characters that are not alphanumeric: (space)!#%&? etc.

**Example:**

In [ ]:
text = "hello123"
print(text.isalnum())
text = "hello world"
print(text.isalnum())

True
False

**18)isalpha():**
* The isalpha() method returns True if all the characters are alphabet letters (a-z).
* Example of characters that are not alphabet letters: (space)!#%&? etc.

**Example:**

In [ ]:
text = "hello"
print(text.isalpha())
text = "hello123"
print(text.isalpha())
text = "hello world"
print(text.isalpha())

True
False
False

**19)isascii():**
* The isascii() method returns True if all the characters are ascii characters (a-z).
* The isascii() method in Python checks if all characters in a string are ASCII characters. It returns True if all characters are ASCII, otherwise it returns False.

**Example:**

In [ ]:
xt = "Revanth_12k3"
x = txt.isascii()
print(x)

True

**20)isdecimal():**
* The isdecimal() method returns True if all the characters are decimals (0-9).
* This method can also be used on unicode objects.

**Example:**

In [ ]:
text = "12345"
print(text.isdecimal())
text = "hello"
print(text.isdecimal())
text = "123.45"
print(text.isdecimal())

True
False
False

21)**isdigit():**
* The isdigit() method returns True if all the characters are digits, otherwise False.
* Exponents, like ², are also considered to be a digit.

**Example:**

In [ ]:
text = "12345"
print(text.isdigit())
text = "hello"
print(text.isdigit())
text = "123.45"
print(text.isdigit())

True
False
False

22)**isidentifier():**
* The isidentifier() method returns True if the string is a valid identifier, otherwise False.
* A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

**Example:**

In [ ]:
text = "my_variable"
print(text.isidentifier())
text = "123"
print(text.isidentifier())
text = "my variable"
print(text.isidentifier())

True
False
False

**23)isnumeric:**
* The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
*Exponents, like ² and ¾ are also considered to be numeric value
*"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.not.

**Example:**

In [ ]:
text = "12345"
print(text.isnumeric())
text = "hello"
print(text.isnumeric())
text = "012345"
print(text.isnumeric())

True
False
True

**24)issprintable():**
* The isprintable() method returns True if all the characters are printable, otherwise False.
* Example of none printable character can be carriage return and line feed.

**Example:**

In [ ]:
text = "Hello, world!"
print(text.isprintable())
text = "\t"
print(text.isprintable())
text = " \n"
print(text.isprintable())

True
False
False

**25)isspace():**
* The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

**Example:**

In [ ]:
txt = "  M  "
x = txt.isspace()
print(x)

False

**26)istitle():**
* The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

**Example:**

In [ ]:
 a = "HELLO, AND WELCOME TO MY WORLD"
 b = "Hello"
 c = "22 Names"
 d = "This Is %'!?"
 print(a.istitle())
 print(b.istitle())
 print(c.istitle())
 print(d.istitle())

False
True
True
True

**27)ljust():**
* The ljust() method will left align the string, using a specified character (space is default) as the fill character.

**Example:**

In [ ]:
txt = "nikhil"
x = txt.ljust(20, "u")
print(x)

nikhiluuuuuuuuuuuuuu

**28)lstrip():**
* The lstrip() method removes any leading characters (space is the default leading character to remove)

**Example:**

In [ ]:
txt = " mango "
x = txt.lstrip()
print("among all fruits", x, "is my favorite")

among all fruits mango  is my favorite

**29)partition():**
* The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
* The first element contains the part before the specified string.
* The second element contains the specified string.
* The third element contains the part after the string.

**Example:**

In [ ]:
txt = "I can do this all day"
x = txt.partition("fighting")
print(x)

('I can do this all day', '', '')

**30)startswith():**
* The startswith() method returns True if the string starts with the specified value, otherwise False.

**Example:**

In [ ]:
txt = "Hello, welcome to data science."
x = txt.startswith("wel", 7, 20)
print(x)

True

**31)maketrans:**
* The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

**Example:**

In [ ]:
txt = "Hello Jashwanth!"
mytable = str.maketrans("J","Y")
print(txt.translate(mytable))

Hello Yashwanth!

**32)translate():**
* The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.
* Use the maketrans() method to create a mapping table.
* If a character is not specified in the dictionary/table, the character will not be replaced.
* If you use a dictionary, you must use ascii codes instead of characters.

**Example:**

In [ ]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

**33)title():**
* The title() method returns a string where the first character in every word is upper case. Like a header, or a title.
* If the word contains a number or a symbol, the first letter after that will be converted to upper case.

**Example:**

In [ ]:
txt = "i love my country india."
x = txt.title()
print(x)

I Love My Country India.

**34)swapcase():**
* The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

**Example:**

In [ ]:
txt = "Hello My Name Is Revanth"
x = txt.swapcase()
print(x)

hELLO mY nAME iS rEVANTH

**35)zfill():**
* The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.
* If the value of the len parameter is less than the length of the string, no filling is done.

**Example:**

In [ ]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050