**PYTHON SETS:**
* In python a set is a collection of unique element,and it is defined using curly braces{} and seperated by commas.
* Sets are used to store multiple items in a single variable.
* Sets are unordered,mutable do not allow duplicate elements.
* Sets provide a variety of methods for performing common set operations like union,intersection,difference etc.

**Creating Sets:**

**Examples:**

In [1]:
#creating an empty set
#empty_set=set()
#creating a set with elements
fruits={'apple','banana','orange'}
#converting a list to a set
numbers=set([1,2,3,4,5])
print(numbers)

{1, 2, 3, 4, 5}

In [2]:
print(type(fruits))

<class 'set'>

In [4]:
#duplicate items in a set
numbers={9,9,56,2,4,68,56,2,68,78,73,32,9,5,7,2,7,78,56}
print(numbers)

{32, 2, 4, 5, 68, 7, 9, 73, 78, 56}

**Add and Update set items in python:**
* Sets are mutable.Sice,they are unordered,indexing has no meaning.
* We cannot access or change an element of a set using indexing or slicing.
* Set datatype does not support it.

**1) Add items to a set in python:**
* In python,we use the add() method to add an item to set.

**Examples:**

In [5]:
numbers={21,67,45,34,54,12,67,87,90}
#print('Initial set:',numbers)
#using add() method
numbers.add(65)
print('Updated set:',numbers)

Updated set: {65, 34, 67, 12, 45, 21, 54, 87, 90}

In [7]:
numbers={9,5,7,2,7,78,56,89,67,56,45,34,23,32,78}
print('Initial set:',numbers)
#using add() method
numbers.add(50)
print('updated set:',numbers)

Initial set: {32, 2, 67, 34, 5, 7, 9, 45, 78, 23, 56, 89}
updated set: {32, 2, 67, 34, 5, 7, 9, 45, 78, 50, 23, 56, 89}

**2)Update Python Set:**
* The update() method is used to update the set with items other collection types(list,tuples,sets etc).

In [8]:
companies={'microsoft','technologies'}
tech_companies=['apple','google','apple']
update_companies=companies.update(tech_companies)
print(companies)

{'technologies', 'apple', 'google', 'microsoft'}

In [9]:
companies={'microsoft','technologies'}
tech_companies=['apple','google','apple','mon','sky','apple','technologies']
update_companies=companies.update(tech_companies)
print(companies)

{'mon', 'sky', 'apple', 'technologies', 'google', 'microsoft'}

**3)Remove an element from a set:**
* We use the discard() method to remove the specified element from a set.

**Example:**

In [12]:
languages={'swift','java','python'}
languages.remove('java')
languages.discard('python')
print(languages)
print(languages)

{'swift'}
{'swift'}

* some of the other methods in python sets are:

**clear():** It Removes all elements from the set.

**Example:**

In [21]:
fruits={'sapota','jack fruit','papaya'}
fruits.clear()
print(fruits)

set()

**copy():** It returns a shallow copy of the set.   

**Example:**

In [22]:
languages={'c','c++','java'}
languages2=languages.copy()
print(languages2)

{'c++', 'java', 'c'}

**frozenset():** It Return an immutable frozenset object.

**Example:**

In [23]:
toys=frozenset(['bike','car','borewell'])
print('bus'in toys)
print('car'in toys)

False
True

**isdisjoint():** It Checks whether the sets are disjoint or not.

**Example:**

In [24]:
A={4,6,8,9}
B={1,2,3}
C={1,4,5,7}
print(A.isdisjoint(B))
print(A.isdisjoint(C))

True
False

**issubset():** Returns True if all elements of a set A are present in another set B.

**Example:**

In [25]:
A={1,2,3,4,5,6}
B={1,2,3}
C={1,4,5,7}
print(B.issubset(A))
print(C.issubset(A))

True
False

**issuperset():** It returns True if all elements of a set A occupies set B.

**Example:**

In [26]:
A={1,2,3,4,5,6}
B={1,2,3}
C={1,4,5,7}
print(A.issuperset(B))
print(C.issuperset(A))

True
False

**pop():** It returns and removes a random element from the set.

**Example:**

In [27]:
A={1,2,3,4,5,6}
print(A.pop())

1

**Python set operations:**
* Python set provides different built-in methods to perform mathematical set operations like union,intersection,subtraction,symmetric difference.

**1)Union of two sets:**
* The union of two sets A and B include all the elements of set A and B.
* Combines elements from two sets, removing duplicates.

**Example:**

In [16]:
A={2,6,8}
B={3,5,7}
#using |
print(A|B)
#using union()
print(A.union(B))

{2, 3, 5, 6, 7, 8}
{2, 3, 5, 6, 7, 8}

**2)Set Intersection:**
* The intersection of two sets A and B include the common elements between sets A and B.
* Returns common elements between two sets.

**Example:**

In [17]:
A={9,8,7,6,5,4}
B={2,3,4,5,6,7}
#using &
print(A&B)
#using intersection()
print(A.intersection(B))

{4, 5, 6, 7}
{4, 5, 6, 7}

**3)Difference betweeen two sets:**
* The difference between two ses A and B include elements of set A that are not present on set B.
* Returns elements that are in the first set but not in the second.

**Example:**

In [18]:
A={2,3,5,7,11,13,17}
B={2,4,6,8}
#using -
print(A-B)
print(B-A)
#using difference()
print(A.difference(B))
print(B.difference(A))

{3, 5, 7, 11, 13, 17}
{8, 4, 6}
{3, 5, 7, 11, 13, 17}
{8, 4, 6}

**4)Set Symmetric difference:**
* The symmetric difference between two sets a and b includes all  elements of A and B without the common elements.
* Returns elements that are in either of the sets,but not in both.

**Example:**

In [19]:
A={5,7,8,9,6,4,3}
B={2,4,5,6,7}
#using A^B
print(A^B)
#using symmetric_difference()
print(A.symmetric_difference(B))

{2, 3, 8, 9}
{2, 3, 8, 9}