**Python Dictionaries:**
* A Python Dictionary is a data structure that allows you to store and retrive data in a key:value pair format.
* Dictionaries are also known as associative arrays or hash maps in other Programming Languages.
* They are defined using curly braces {} and coonsist of key-value pairs seperated by colons.
* A dictionary is a built-in data structure that stores data in key-value pairs.
* Each key is unique, immutable (cannot be changed), and is associated with a specific value, which can be of any data type.
* Dictionaries are unordered, meaning the elements do not have a defined sequence.

**Examples:**

In [1]:
# Empty dictionary
empty_dict = {}
# Dictionary with key-value pairs
student = {'name' : 'Revanth','age' : 21,'grade' : 'A'}
print(student)

{'name': 'Revanth', 'age': 21, 'grade': 'A'}

In [3]:
# Dictionary with mixed data types
mixed_dict = {
'name' : 'Revanth',
'age' : 21,
'grade' : [85,90,92]
 }
print(mixed_dict)

{'name': 'Revanth', 'age': 21, 'grade': [85, 90, 92]}

In [4]:
my_dict = dict(name="Revanth", age=21, city="Nizamabad")

print(my_dict)

{'name': 'Revanth', 'age': 21, 'city': 'Nizamabad'}

**Accessing Values:**
* We can access the values in a dictionary using the Keys.

**Examples:**

In [5]:
# Dictionary with key-value pairs
student = {'name' : 'Revanth', 'age' : 21,'grade' : 'A+'}
print(student)

{'name': 'Revanth', 'age': 21, 'grade': 'A+'}

In [6]:
# Dictionary with mixed data types
mixed_dict = {
'name' : 'Revanth',
'age' : 21,
'grade' : [85,90,92]
}
print(mixed_dict)

{'name': 'Revanth', 'age': 21, 'grade': [85, 90, 92]}

In [7]:
# accessing elements
print(student['name'])
print(mixed_dict['grade'])

Revanth
[85, 90, 92]

In [9]:
my_dict = {"name": "Kiran", "age": 24, "city": "bangolore"}
print(my_dict["name"])
print(my_dict["age"])

Kiran
24

**Modifying and adding entries:**
* Dictionaries are Mutable, so you can modify existing entries or add new ones.

**Examples:**

In [10]:
# Dictionary with key_value pairs
student = {
'name' : 'Revanth',
'age' : 21,
'grade' : 'B',
}
student

{'name': 'Revanth', 'age': 21, 'grade': 'B'}

In [11]:
# Modifying an entry
student['age'] = 25
student

{'name': 'Revanth', 'age': 25, 'grade': 'B'}

In [12]:
# Adding a new entry
student['gender'] = 'male'
student['Qualification'] = 'B.Tech'
student

{'name': 'Revanth',
 'age': 25,
 'grade': 'B',
 'gender': 'male',
 'Qualification': 'B.Tech'}

In [13]:
my_dict = {"name": "Sai", "age": 22, "city": "siddipet"}
my_dict["age"] = 30
print(my_dict)

{'name': 'Sai', 'age': 30, 'city': 'siddipet'}

**Python Dictionary Methods:**

**1) get():**
* The get() method returns the value of the item with the specified key.
* It allows you to provide a default value if the key in not found.

**Example:**

In [15]:
g = student.get('grade','no grade')
gender = student.get('gender','Not Specified')
h = student.get('location','Location Not Found')
print(g)
print(gender)
print(h)

B
male
Location Not Found

**2) Keys():**
* The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.
* The view object will reflect any changes done to the dictionary.
* It Returns a view of all the keys in the dictionary.

**Example:**

In [16]:
keys = student.keys()
print(keys)

dict_keys(['name', 'age', 'grade', 'gender', 'Qualification'])

**3) Values():**
* The values() method returns a view object. The view object contains the values of the dictionary, as a list.

**Example:**

In [17]:
values = student.values()
print(values)

dict_values(['Revanth', 25, 'B', 'male', 'B.Tech'])

**4) Items:**
* The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

**Example:**

In [18]:
items = student.items()
items

dict_items([('name', 'Revanth'), ('age', 25), ('grade', 'B'), ('gender', 'male'), ('Qualification', 'B.Tech')])

**5) pop():**
* The pop() method removes the specified item from the dictionary.
* The value of the removed item is the return value of the pop() method.
* Remove and Returns the value for aspecified key.

**Example:**

In [19]:
mixed_dict = {
'name' : 'Revanth',
'age' : 21,
'grades' : [85,90,92]
}
mixed_dict

{'name': 'Revanth', 'age': 21, 'grades': [85, 90, 92]}

In [20]:
age = mixed_dict.pop('age')
print(age)

21

**6)pop item():**
* The popitem() method removes the item that was last inserted into the dictionary.

**Example:**

In [21]:
last_item = student.popitem()
print(last_item)
print(student)

('Qualification', 'B.Tech')
{'name': 'Revanth', 'age': 25, 'grade': 'B', 'gender': 'male'}

**7)Update:**
* Update the dictionary with elements from another dictionary or from an iterable of key-value pairs.

**Example:**

In [22]:
# Dictionary with key-value pairs.
student = {
    'name' : 'Revanth',
    'age' : 21,
    'grade' : 'A'
}
student

{'name': 'Revanth', 'age': 21, 'grade': 'A'}

In [23]:
new_data = {'age' : 22, 'grade' : 'A+'}
student.update(new_data)
print(student)

{'name': 'Revanth', 'age': 22, 'grade': 'A+'}

**8)Clear():**
* The clear() method removes all the elements from a dictionary.

In [24]:
student = {
'name' : 'Revanth',
'age' : 21,
'grade' : 'A'
}
student.clear()
print(student)

{}

**9)Copy():**
* The copy() method returns a copy of the specified dictionary.

**Example:**

In [25]:
student = {
 'name' : 'Revanth',
 'age' : 21,
 'grade' : 'A+'
}
student.copy()
print(student)

{'name': 'Revanth', 'age': 21, 'grade': 'A+'}

**10)from keys():**
* The fromkeys() method returns a dictionary with the specified keys and the specified value.

**Example:**

In [27]:
keys = ['x', 'y', 'z']
my_dict = dict.fromkeys(keys, 3)
print(my_dict)

{'x': 3, 'y': 3, 'z': 3}

**11)set default()::**
* The setdefault() method returns the value of the item with the specified key.

**Example:**

In [28]:
student = {
'name' : 'Revanth',
'age' : 21,
'grade' : 'A+'
}
x = student.setdefault("City" , 'Nizamabad')
y = student.setdefault("name", 'Revanth')
print(x)
print(y)

Nizamabad
Revanth